@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Raleway:wght@100&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}
Navbar
.navbar{
    display: flex;
    justify-content: space-around !important;
}
main .container{
    margin-top: 1rem;
}
main h1{
    color: hsl(243, 87%, 12%);
    font-size: 2rem;
    font-weight: 900 !important;
}
main p {
    color: hsl(243, 87%, 12%);
}
form{
    display: flex;
    align-items: center;
}
form .btn{
    width: 40%;
    border-radius: 0;
    padding: 0.5rem 0.7rem;
}
form input{
    width: 55%;
    padding: 0.45rem 0.58rem;
    margin-right: 0.5rem;
}